<mat-card-header>
  <img src="{{avatar}}" class="avatar-circle" alt="">
  <mat-card-title>{{name}} {{surname}}</mat-card-title>
  <mat-card-subtitle>{{data}} <mat-icon> place</mat-icon> </mat-card-subtitle>
  <span *ngIf="id == loggedId">
    <button class="more" mat-raised-button (click)="openMore(p.id)">
      <mat-icon color="primary">control_point</mat-icon>
    </button>
  </span>
</mat-card-header>

<mat-card-content id="moreOption{{p.id}}" class="moreOption toggle">
  <button (click)="visualizzaDati(p)"><mat-icon> border_color</mat-icon></button>
  <button (click)="elimina(p.id)"><mat-icon> delete</mat-icon></button>
</mat-card-content>

<mat-card-content>

  <img src="{{p.img}}" id="imgPost">

  <p>{{p.description}}</p>
  <span class="emoji">{{p.emoji}}</span>
</mat-card-content>

<mat-card-actions>
  <button mat-button (click)=" isFav ? rimuoviLike() : like(p.id)"
    [color]=" isFav ? 'primary':''"><mat-icon>thumb_up</mat-icon> Mi piace {{count}}</button>

  <button mat-button> <mat-icon> chat_bubble_outline</mat-icon> Commenta </button>
</mat-card-actions>

<mat-card-content class="commenti" *ngFor="let c of p.commenti">
  <p><span>{{c.userName}} {{c.userSurname}}</span>{{c.comment}} </p>
</mat-card-content>

<mat-card-footer id="footer{{p.id}}" class="display">
  <form class="comment-form" #comment="ngForm" (ngSubmit)="sendComment(comment , p)">
    <mat-form-field class="example-full-width">
      <mat-label>Scrivi un commento</mat-label>

      <input type="text" matInput required name="comment" #comment="ngModel" ngModel id="comment">
      <mat-error *ngIf="comment.touched && comment.invalid">
        Non ha inserito il <strong>commento</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" id="addComment">+</button>
  </form>
</mat-card-footer>
