<div class="container">
  <form class="example-form" #form="ngForm" (ngSubmit)="modifica(form)">
    <mat-form-field class="example-full-width">
      <mat-label>Titolo</mat-label>
      <input matInput type="text" required name="newTitle" #newTitle="ngModel" ngModel id="newTitle">
      <mat-error *ngIf="newTitle.touched && newTitle.invalid" ngModule>
        Please enter a valid title address
      </mat-error>
      <mat-error *ngIf="newTitle.touched && newTitle.invalid">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>A cosa stai pensando oggi?...</mat-label>
      <input matInput type="text" required name="newDescription" #newDescription="ngModel" ngModel id="newDescription">
      <mat-error *ngIf="newDescription.touched && newDescription.invalid" ngModule>
        Please enter a valid description address
      </mat-error>
      <mat-error *ngIf="newDescription.touched && newDescription.invalid">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>
        <mat-icon> sentiment_satisfied_alt</mat-icon>
        Come ti senti oggi?
      </mat-label>
      <mat-select matSelect required name="newEmoji" #newEmoji="ngModel" ngModel id="newEmoji">
        <mat-option></mat-option>
        <mat-option value="tag_faces">
          <mat-icon>tag_faces</mat-icon>
        </mat-option>
        <mat-option value="Triste">
          <mat-icon>mood_bad</mat-icon>
        </mat-option>
        <mat-option value="Bhoo">
          <mat-icon>sentiment_dissatisfied</mat-icon>
        </mat-option>
        <mat-option value="Pensieroso">
          <mat-icon>sentiment_satisfied</mat-icon>
        </mat-option>
        <mat-option value="Felicissimo">
          <mat-icon>sentiment_very_satisfied</mat-icon>
        </mat-option>
      </mat-select>

      <mat-error *ngIf="newEmoji.touched && newEmoji.invalid" ngModule>
        Please enter a valid emoji address
      </mat-error>
      <mat-error *ngIf="newEmoji.touched && newEmoji.invalid">
        Emoji is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Pubblica</button>
  </form>
</div>


<mat-card-header>
  <img src="https://picsum.photos/100/200" class="avatar-circle" alt="">
  <mat-card-title>{{name}} {{surname}}</mat-card-title>
  <mat-card-subtitle>{{data}} <mat-icon> place</mat-icon> </mat-card-subtitle>
  <button class="more" mat-raised-button (click)="openMore(p.id)">
    <mat-icon color="primary">control_point</mat-icon>
  </button>
</mat-card-header>

<mat-card-content id="moreOption{{p.id}}" class="moreOption toggle">
  <a (click)="visualizzaDati(p)"><mat-icon> border_color</mat-icon></a>
  <a (click)="elimina(p.id)"><mat-icon> delete</mat-icon></a>
</mat-card-content>

<mat-card-content>
  <p>{{p.description}}</p>
  <span class="emoji">{{p.emoji}}</span>
</mat-card-content>

<mat-card-actions>
  <button mat-button (click)=" isFav ? rimuoviLike() : like(p.id)"
    [color]=" isFav ? 'primary':''"><mat-icon>thumb_up</mat-icon> Mi piace</button>
  <button mat-button> <mat-icon> chat_bubble_outline</mat-icon> Commenta </button>
</mat-card-actions>

<mat-card-content class="commenti" *ngFor="let c of p.commenti">
  <p><span>{{name}}</span>{{c}}</p>
</mat-card-content>

<mat-card-footer id="footer{{p.id}}" class="display">
  <form class="comment-form" #comment="ngForm" (ngSubmit)="sendComment(comment , p)">
    <mat-form-field class="example-full-width">
      <mat-label>Scrivi un commento</mat-label>

      <input type="text" matInput required name="comment" #comment="ngModel" ngModel id="comment">
      <mat-error *ngIf="comment.touched && comment.invalid">
        Non ha inserito il <strong>commento</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">+</button>
  </form>
</mat-card-footer>
