<div class="container">
  <mat-card class="card">
    <mat-card-title class="mb">Registrati</mat-card-title>
    <mat-card-content>
      <form class="example-form" #form="ngForm" (ngSubmit)="onsubmit(form)">
        <mat-form-field class="example-full-width" appearance="fill" color="accent">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" type="text" #name="ngModel" ngModel name="name" required />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" color="accent">
          <mat-label>Cognome</mat-label>
          <input matInput placeholder="Cognome" type="text" #surname="ngModel" ngModel name="surname" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <img src="{{avatar.value}}" style="width: 50px;" alt="">
          <mat-select matSelect required name="avatar" #avatar="ngModel" ngModel id="avatar">
            <mat-option value="">---</mat-option>
            <mat-option value="/assets/icon/1.png">
              <img src="/assets/icon/1.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/2.png">
              <img src="/assets/icon/2.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/3.png">
              <img src="/assets/icon/3.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/4.png">
              <img src="/assets/icon/4.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/5.png">
              <img src="/assets/icon/5.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/6.png">
              <img src="/assets/icon/6.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/7.png">
              <img src="/assets/icon/7.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/8.png">
              <img src="/assets/icon/8.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/9.png">
              <img src="/assets/icon/9.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/10.png">
              <img src="/assets/icon/10.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/11.png">
              <img src="/assets/icon/11.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/12.png">
              <img src="/assets/icon/12.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/13.png">
              <img src="/assets/icon/13.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/14.png">
              <img src="/assets/icon/14.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/15.png">
              <img src="/assets/icon/15.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/16.png">
              <img src="/assets/icon/16.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/17.png">
              <img src="/assets/icon/17.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/18.png">
              <img src="/assets/icon/18.png" alt="">
            </mat-option>
            <mat-option value="/assets/icon/19.png">
              <img src="/assets/icon/19.png" alt="">
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" color="accent" type="text">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" #email="ngModel" ngModel name="email" required />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" color="accent" type="email">
          <mat-label>Password</mat-label>
          <input matInput type="password" #password="ngModel" placeholder="Password" ngModel name="password" required />
        </mat-form-field>
        <mat-card-actions>
          <div class="center">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
              Registrati
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <p>
        Sei già registrato?
        <span class="ul" [routerLink]="'/login'">Accedi!</span>
      </p>

      <h2 *ngIf="err" class="text-danger mt-3">{{err}}</h2>
    </mat-card-footer>
  </mat-card>
</div>
