.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;

  .example-f {
    width: 500px;
    height: 130px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    position: relative;

    .profile{
      .modal{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        margin-top: 20px;
        padding: 5px;
        img{
          width: 50px;
        }
        input{
          width: 80%;
          border-radius: 10px;
          border: 1px solid lightgrey;
          padding: 10px;
          font-size: 16px;
        }
        input:focus{
          outline: none;
        }
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
     p:nth-child(1){
      position: absolute;
      left: 50px;
      bottom: 0px;
      mat-icon{
        color: orange;
        margin-right: 2px;
      }
      }
      p:nth-child(2){
      position: absolute;
      right: 50px;
      bottom: 0px;
      mat-icon{
        color: green;
        margin-right: 5px;
      }
      }
    }

    .example-full-width-1 {
      margin-bottom: 30px;
      width: 400px;
      padding: 5px 5px 10px 5px;
      font-size: 15px;
      input{
        border: 1px solid transparent;
        background-color: rgb(188, 180, 180, 0.1);
        border-radius: 10px;
        padding: 10px;
        width: 380px;
      }
    }
  }
}

.example-container {
  width: 100%;
  height: 100%;
}

.mat-drawer {
  height: 100%;
  background-color: #a5d6a7;
}

.mat-list-base {
  padding-top: 0;
}

mat-list {
  width: 200px;
  margin-top: 50px,
}

h3 {
  text-align: center;
  padding-top: 10px;
}

.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

mat-icon {
  margin-right: 20px;
  font-size: 25px;
}

.saluta {
  display: flex;
  justify-content: end;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #388E3C;
}

p {
  font-size: 16px;
}



#logout {
  position: fixed;
  bottom: 30px;
  color: black;
  background-color: #a5d6a7;
}

// MEDIAQUERY
@media screen and (max-width:500px) {

  h3{
   text-align: left;
   font-size: 12px;
   margin-left: 5px;
  }
  
  mat-drawer{
    width: 60px;
    mat-list{
      width: 100px;
      mat-list-item{
        p,
        span{
          display: none;
        }
        #logout {
          left: -5px;
          width: 40px;
          font-size: 15px;
        }
        mat-icon {
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }
  }


  .container {
    .example-f {
      position: relative;
      height: 110px;
      .profile{
        .modal{
          img{
            width: 35px;
          }
          input{
            font-size: 11px;
          }
        }
      }
      .icon {
       p:nth-child(1){
        position: absolute;
        left: 10px;
        bottom: 0px;
        font-size: 13px;
        mat-icon{
          color: orange;
          margin-right: 0px;
          font-size: 18px;
        }
        }
        p:nth-child(2){
        position: absolute;
        right: 10px;
        bottom: 0px;
        font-size: 13px;
        mat-icon{
          color: green;
          margin-right:0px;
          font-size: 18px;
        }
        }
      }
  
      .example-full-width-1 {
        margin-bottom: 30px;
        width: 400px;
        padding: 5px 5px 10px 5px;
        font-size: 15px;
        input{
          border: 1px solid transparent;
          background-color: rgb(188, 180, 180, 0.1);
          border-radius: 10px;
          padding: 10px;
          width: 380px;
        }
      }
    }
  }
  

  
}