<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem"><i class="bi bi-facebook"></i><p id="fb">fakebook</p></mat-list-item>
      <br>
      <br>
      <mat-list-item role="listitem"><mat-icon>home</mat-icon> <a [routerLink]="['']">Home</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>account_circle</mat-icon><a [routerLink]="['profile']">Il tuo profilo</a></mat-list-item>
      <hr>
      <h3>GAMES</h3>
      <mat-list-item role="listitem"><mat-icon>videogame_asset</mat-icon> <a [routerLink]="['/tris']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tris</a></mat-list-item>
      <mat-list-item role="listitem"> <button id="logout" mat-flat-button
          (click)="logout()"><mat-icon>exit_to_app</mat-icon>
          Logout</button></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="saluta">
      <mat-chip-list aria-label="Dog selection">
        <mat-chip>
          <img matChipAvatar src="{{avatar}}" />
          Ciao {{name}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
