.padre {
  display:flex;
  justify-content: space-between;

}

.example-card {
  width: 70%;
  margin: 10px auto 50px;
  border: 1px solid lightgrey;
}

.nome {
  margin:20px;
  font-size: 25px;
}

.avatar-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;


}
h2{
  text-align: center;
}
